{% extends 'components/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<!--#######################################################################3checkbox-->

<div class="row mt-3">
    <div class="col-md-10 offset-md-1">

        <div class="card card-success">
            <div class="card-header">
                <h3 class="text-center">¿Qué se adapta a ti?</h3>
            </div>
            <div class="card-body">
                <form method="post" >
                    {% csrf_token %}
                    <row>
                        <div class="col mb-4">
                            <label for="{{ form.materias.id_for_label }}">Materias</label>
                            <input type="text" class="form-control form-control-lg" id="{{ form.materias.id_for_label }}" name="{{ form.materias.name }}" placeholder="'I7039', 'I5888', 'I5910', [...] ">
                        </div>
                    </row>
                    <row class="d-flex align-items-center">
                        <div class="col mb-4">
                            {{ form.ciclo|as_crispy_field }}
                        </div>
                        <div class="col mb-4">
                            {{ form.carrera|as_crispy_field }}
                        </div>
                    </row>
                    
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <div class="icheck-primary d-inline">
                                    {{ form.lunes }}
                                    <label for="{{ form.lunes.id_for_label }}">Lunes</label>
                                </div>
                            </div>
                            <div>
                                {{ form.inicioL|as_crispy_field }}
                            </div>
                            <div>
                                {{ form.finL|as_crispy_field }}
                            </div>
                        </div>

                        <div class="col-md-4 mb-4">
                            <div class="form-group clearfix">
                                <div class="icheck-primary d-inline">
                                    {{ form.martes }}
                                    <label for="{{ form.martes.id_for_label }}">Martes</label>
                                </div>
                            </div>
                            <div>
                                {{ form.inicioM|as_crispy_field }}
                            </div>
                            <div>
                                {{ form.finM|as_crispy_field }}
                            </div>
                        </div>

                        <div class="col-md-4 mb-4">
                            <div class="form-group clearfix">
                                <div class="icheck-primary d-inline">
                                    {{ form.miercoles }}
                                    <label for="{{ form.miercoles.id_for_label }}">Miercoles</label>
                                </div>
                            </div>
                            <div>
                                {{ form.inicioMi|as_crispy_field }}
                            </div>
                            <div>
                                {{ form.finMi|as_crispy_field }}
                            </div>
                        </div>

                        <div class="col-md-4 mb-4">
                            <div class="form-group clearfix">
                                <div class="icheck-primary d-inline">
                                    {{ form.jueves }}
                                    <label for="{{ form.jueves.id_for_label }}">Jueves</label>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.inicioJ|as_crispy_field }}
                            </div>
                            <div>
                                {{ form.finJ|as_crispy_field }}
                            </div>
                        </div>

                        <div class="col-md-4 mb-4">
                            <div class="form-group clearfix">
                                <div class="icheck-primary d-inline">
                                    {{ form.viernes }}
                                    <label for="{{ form.viernes.id_for_label }}">Viernes</label>
                                </div>
                            </div>
                            <div>
                                {{ form.inicioV|as_crispy_field }}
                            </div>
                            <div>
                                {{ form.finV|as_crispy_field }}
                            </div>
                        </div>

                        <div class="col-md-4 mb-4">
                            <div class="form-group clearfix">
                                <div class="icheck-primary d-inline">
                                    {{ form.sabado }}
                                    <label for="{{ form.sabado.id_for_label }}">Sabado</label>
                                </div>
                            </div>
                            <div>
                                {{ form.inicioS|as_crispy_field }}
                            </div>
                            <div>
                                {{ form.finS|as_crispy_field }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-top:15px">Enviar</button>
                </form>
            </div>
            <!-- /.card-body -->
        </div>

    </div>
</div>

{% block javascript %}
<script src="{% static 'adminLTE/plugins/select2/js/select2.full.min.js'%}"></script>
<script>
    function adjustSelect2Width() {
      $('.select2').each(function () {
        // Establece el ancho al 100% del contenedor
        $(this).next('.select2-container').css('width', '100%');
      });
    }
  
    // Llama a la función de ajuste de tamaño cuando la ventana cambie de tamaño
    $(window).on('resize', adjustSelect2Width);
    $(function () {
      // Inicializa los elementos Select2
      $('.select2').select2();
  
      // Llama a la función de ajuste de tamaño después de la inicialización
      adjustSelect2Width();
    });
  </script>
{% endblock javascript %}

{% endblock %}