{% extends 'components/home.html' %}
{% load static %}
{% block body %}
<body class="hold-transition layout-top-nav">
    <div class="wrapper">
        <!-- Header -->
        {% include 'components/navbar.html' %}
        <!-- Sidebar -->
        <!-- Content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                
                <div class="row mt-3">
                    <div class="col-md-10 offset-md-1">
                        {% if request.user.is_authenticated and welcome%}
                        <h1 class="m-0"> Bienvenido<small>,&nbsp;{{ request.user.first_name }} {{ request.user.last_name }}</small></h1>
                        {% else %}
                        <h1 class="m-0"> {{ title }} <small> {{ subtitle}} </small></h1>
                        {% endif %}
                    </div><!-- /.col -->
                    <!-- MANEJAR CON CONTEXTO
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                            <li class="breadcrumb-item"><a href="#">Diying Gasp</a></li>   
                            <li class="breadcrumb-item active">Proceso</li>
                            
                        </ol>
                    </div><!/.col -->
                </div><!-- /.row -->
                
            </div>
            <!-- /.content-header -->
            <div class="content"></div>
            <div class="container-fluid">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

        <!-- Aqui borramos algo -->
    </div>
</div>
</div>
<!-- Footer -->
{% include 'components/footer.html' %}
</div>
<!-- Block javascript -->
<!-- jQuery -->
<script src="{% static 'adminLTE/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'adminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'adminLTE/dist/js/adminlte.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% block javascript %}
{% endblock javascript %}
</body>
{% endblock %}