{% extends 'components/layout.html' %}

{% block content %}

{% include 'components/searcher.html' %}

<div class="row mt-3">
    <div class="col-md-10 offset-md-1">
        {% block list %}
        {% endblock list %}
    </div>
</div>

<nav aria-label="Page navigation" class="d-flex justify-content-center">
    <ul class="pagination">
      <!-- Mostrar "first" y "previous" -->
      {% if page_obj.has_previous %}
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %} d-none d-lg-block">
          <a class="page-link {% if not page_obj.has_previous %}disabled{% endif %}" href="?search_query={{ search }}&page=1">
            {% if page_obj.paginator.num_pages > 5 and page_obj.number > 3 %}
              &laquo;&laquo;
            {% else %}
              &laquo; Primera
            {% endif %}
          </a>
        </li>
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %} d-sm-block d-lg-none">
          <a class="page-link {% if not page_obj.has_previous %}disabled{% endif %}" href="?search_query={{ search }}&page=1">&lt;&lt;</a>
        </li>
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %} d-none d-lg-block">
          <a class="page-link {% if not page_obj.has_previous %}disabled{% endif %}" href="?search_query={{ search }}&page={{ page_obj.previous_page_number }}">
            &lt; Anterior
          </a>
        </li>
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %} d-sm-block d-lg-none">
          <a class="page-link {% if not page_obj.has_previous %}disabled{% endif %}" href="?search_query={{ search }}&page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
      {% endif %}
  
      <!-- Mostrar números de página -->
      {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
          <li class="page-item active"><span class="page-link">{{ num }}</span></li>
        {% else %}
          {% if num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?search_query={{ search }}&page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
  
      <!-- Mostrar "next" y "last" -->
      {% if page_obj.has_next %}
        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %} d-none d-lg-block">
          <a class="page-link {% if not page_obj.has_next %}disabled{% endif %}" href="?search_query={{ search }}&page={{ page_obj.next_page_number }}">
            Siguiente &gt;
          </a>
        </li>
        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %} d-sm-block d-lg-none">
          <a class="page-link {% if not page_obj.has_next %}disabled{% endif %}" href="?search_query={{ search }}&page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %} d-none d-lg-block">
          <a class="page-link {% if not page_obj.has_next %}disabled{% endif %}" href="?search_query={{ search }}&page={{ page_obj.paginator.num_pages }}">
            {% if page_obj.paginator.num_pages > 5 and page_obj.number < page_obj.paginator.num_pages|add:"-2" %}
              &raquo;&raquo;
            {% else %}
              Último &raquo;
            {% endif %}
          </a>
        </li>
        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %} d-sm-block d-lg-none">
          <a class="page-link {% if not page_obj.has_next %}disabled{% endif %}" href="?search_query={{ search }}&page={{ page_obj.paginator.num_pages }}">&gt;&gt;</a>
        </li>
      {% endif %}
    </ul>
  </nav>

{% endblock %}