{% load static %}

<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
  <div class="container">
    <a href="{% url 'welcome' %}" class="navbar-brand">
      <img src="{% static 'img/planner.png' %}" alt="Community Planner" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light"><b>Community</b> Planner</span>
    </a>

    <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{% url 'generador' %}" class="nav-link">Horario inteligente</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'materias' %}" class="nav-link">Catálogo</a>
        </li>
      </ul>

      <!-- Right navbar links -->  
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto align-items-center">
        
        <!-- Botones -->
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="btn btn-danger btn-sm">Cerrar sesión</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'login' %}" class="btn btn-info btn-sm">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'registro' %}" class="btn btn-secondary btn-sm" style="margin-left: 10px">Regístrate</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- /.navbar -->
