{% extends 'components/layout.html' %}
{% load static %}
{% block content %}

{% block head %}
  {{block.super}} 
  <link rel="stylesheet" href="{% static 'adminLTE/plugins/fullcalendar/main.css'%}">

{% endblock %}

  <div class="container mt-5">
    <div class="card">
        <div class="card-header text-center bg-success text-white">
            <h3>Encuentra tu horario ideal</h3>
        </div>
        <div class="card-body">
          <div id="scheduler" data-weekly-events="{{ weeklyEvents }}"></div>
        </div>
    </div>
  </div>

{% block javascript %}
  <script src="{% static 'adminLTE/plugins/moment/moment.min.js'%}"></script>
  <script src="{% static 'adminLTE/plugins/fullcalendar/main.js'%}"></script>
  <script src="{% static 'calendar/controller.js' %}"></script>
{% endblock %}

{% endblock %}