/env/
/app/website/static/
/app/website/planrcomm/__pycache__/
/app/website/core/erp/__pycache__/
/app/website/core/erp/migrations/__pycache__/
/app/website/core/users/__pycache__/
/app/website/core/users/migrations/__pycache__/
/app/website/core/professors/__pycache__/
/app/website/core/professors/migrations/__pycache__/