/env/
/app/website/static/adminLTE/
/app/website/planrcomm/__pycache__/
/app/website/core/erp/__pycache__/
/app/website/core/erp/migrations/__pycache__
/app/website/core/erp/utils/evaluation/__pycache__
/app/website/core/erp/utils/general/__pycache__
/app/website/core/erp/utils/schedule/__pycache__
/app/website/core/erp/utils/subject/__pycache__
/app/website/core/erp/utils/user/__pycache__