{% extends 'components/layout.html' %}
{% load static %}
{% block content %}

{% block head %}
  {{block.super}} 
  <link rel="stylesheet" href="{% static 'adminLTE/plugins/fullcalendar/main.css'%}">
{% endblock %}

  <div class="container mt-2">
    <div class="card">
      <div class="card-header bg-dark text-white text-center">
        <h2>Explora y conoce nuestras funcionalidades</h2>
      </div>
      <div class="card-body">
        <div class="row justify-content-center align-items-center">
          <div class="col">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>Horario</h3>
                <p>Ahorra tiempo con IA</p>
              </div>
              <div class="icon">
                <i class="fa fa-calendar"></i>
              </div>
              <a href="{% url 'generador' %}" class="small-box-footer">
                Ir <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>Profesores</h3>
                <p>Explora y comparte con la comunidad</p>
              </div>
              <div class="icon">
                <i class="fa fa-certificate"></i>
              </div>
              <a href="{% url 'explorar_profesores' %}" class="small-box-footer">
                Ir <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>Materias</h3>
                <p>Conoce la oferta</p>
              </div>
              <div class="icon">
                <i class="fa fa-book"></i>
              </div>
              <a href="{% url 'materias' %}" class="small-box-footer">
                Ir <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="container mt-5">
  <div class="card">
      <div class="card-header text-center bg-success text-white">
          <h3>Encuentra tu horario ideal</h3>
      </div>
      <div class="card-body">
        <div id="calendar" data-weekly-events="{{ weeklyEvents }}"></div>
      </div>
  </div>
</div>

{% block javascript %}
<script src="{% static 'calendar/calendar.js' %}"></script>
<script src="{% static 'adminLTE/plugins/moment/moment.min.js'%}"></script>
<script src="{% static 'adminLTE/plugins/fullcalendar/main.js'%}"></script>
{% endblock %}

{% endblock %}

