
{% extends 'components/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<section>
  <div class="row mt-3">
    <div class="col-md-10 offset-md-1">
      
          <img src="{% static 'img/book.png' %}" alt="Imagen" class="img-fluid mx-auto d-block" style="width: 90px; height: 90px;">
          <br>
          <h2 class="mb-4 text-center">SEMINARIO DE SOLUCION DE PROBLEMAS DE REDES DE COMPUTADORAS Y PROTOCOLOS DE COMUNICACION</h2>

          <!-- Subject -->
          <ul class="list-group mb-4">
            <li class="list-group-item">
              <b>Evaluaciones</b> <a class="float-right">0</a>
            </li>
            <li class="list-group-item">
              <b>Percepción de complejidad</b> <a class="float-right">N/A</a>
            </li>
          </ul>

          <!-- Evaluations -->
          {% if user.is_authenticated %}
          <div class="card direct-chat direct-chat-primary" style="margin-top: 30px;">
            <div class="card-header">
              <h3 class="card-title"> Evalua tu experiencia en la asignatura</h3>
            </div>
            <div class="card-footer">
              <div class="row justify-content-between text-center">
                <div class="col-sm-6 mb-2">
                  <!-- Button trigger modal subject -->
                  <a class="btn btn-secondary btn-block" data-toggle="modal" data-target="#subjectModal">
                    <i class="bi bi-journal-check"></i> <br> Acerca de la materia
                  </a>
                </div>
                <div class="col-sm-6">
                  <!-- Button trigger modal course -->
                  <a class="btn btn-secondary btn-block" data-toggle="modal" data-target="#courseModal">
                    <i class="bi bi-compass"></i> <br> Sobre tu curso en particular
                  </a>
                </div>
              </div>

              <!-- Modal for subjects -->
              <div class="modal fade" id="subjectModal" tabindex="-1" role="dialog" aria-labelledby="subjectModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="subjectModalLabel">Percepción de la materia</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-center">
                      <div class="form-group">
                        <label>¿Qué tan compleja es la materia?</label>
                        <select class="form-control select2 select2-secondary" data-dropdown-css-class="select2-secondary" style="width: 100%;">
                          <option selected="selected">Muy Accesible (10)</option>
                          <option>Manejable (9)</option>
                          <option>Moderadamente Demandante (8)</option>
                          <option>Exigente (7)</option>
                          <option>Muy Desafiante (6)</option>
                        </select>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" >Eliminar</button>
                      <button type="button" class="btn btn-primary"> Editar</button>
                      <button type="button" class="btn btn-success"> Guardar</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal for courses -->
              <div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="courseModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="courseModalLabel">Experiencia en el curso</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-center">
                      <!-- Profesor -->
                      <div class="row mt-3">
                        <div class="col-sm-3">
                          <label>¿Quién fue tu profesor?</label>
                        </div>
                        <div class="col">
                          <select class="form-control select2 select2-secondary" data-dropdown-css-class="select2-secondary" style="width: 100%;">
                            <option selected="selected">Profesor A</option>
                            <option>Profesor B</option>
                            <option>Profesor C</option>
                            <option>...</option>
                          </select>
                        </div>
                      </div>
                      <!-- Dificultad -->
                      <div class="row mt-3">
                        <div class="col-sm-3" valign="middle">
                          <p>¿Qué tan difícil te pareció el curso?</p>
                        </div>
                        <div class="col">
                          <select class="form-control select2 select2-secondary" data-dropdown-css-class="select2-secondary" style="width: 100%;">
                            <option>Altamente Desafiante (6)</option>
                            <option>Exigente (7)</option>
                            <option selected="selected">Moderado (8):</option>
                            <option>Manejable (9):</option>
                            <option>Muy Asequible (10)</option>
                          </select>
                        </div>
                      </div>
                      <!-- Puntualidad -->
                      <div class="row">
                        <div class="col-sm-3" valign="middle">
                          <p>Puntualidad de la sesion</p>
                        </div>
                        <div class="col">
                          <select class="form-control select2 select2-secondary" data-dropdown-css-class="select2-secondary" style="width: 100%;">
                            <option>Insatisfactorio (6)</option>
                            <option>Regular (7)</option>
                            <option selected="selected">Aceptable (8)</option>
                            <option>Muy Bien (9)</option>
                            <option>Excelente (10)</option>
                          </select>
                        </div>
                      </div>
                      <!-- Aprendizaje -->
                      <div class="row mt-3">
                        <div class="col-sm-3" valign="middle">
                          <p>Sensación de tu aprendizaje</p>
                        </div>
                        <div class="col">
                          <select class="form-control select2 select2-secondary" data-dropdown-css-class="select2-secondary" style="width: 100%;">
                            <option>Poco Enriquecedor (6)</option>
                            <option>Mejorable (7)</option>
                            <option selected="selected">Aceptable (8)</option>
                            <option>Positiva (9)</option>
                            <option>Muy enriquecedor (10)</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger">Eliminar</button>
                      <button type="button" class="btn btn-primary"> Editar</button>
                      <button type="button" class="btn btn-success"> Guardar </button>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          {% else %}
          <div class="card" style="margin-top: 30px;">
            <div class="card-body">
                  <h2 class="card-title">Únete a nuestra comunidad, para participar</h2>
            </div>
          </div>
          {% endif %}

          <!-- Comments -->
          <div class="card direct-chat direct-chat-primary" style="margin-top: 30px;">
            <div class="card-header">
              <h3 class="card-title"> Comentarios de la comunidad</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="direct-chat-messages">
                {% if evaluacion %}
                  {% for e in evaluacion %}
                    {% if e.user_id.id == request.user.id %}
                    <!-- Tu mensaje (simulando ser tú) -->
                    <div class="direct-chat-msg right">
                      <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-right">Yo</span>
                      </div>
                      <img class="direct-chat-img"
                          src="https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Free-Image.png" alt="message user image">
                      <div class="direct-chat-text">
                        {{ e.comment }}
                      </div>
                    </div>
                    {% else %}
                    <div class="direct-chat-msg">
                      <div class="direct-chat-infos clearfix">
                          <span class="direct-chat-name float-left"> Estudiante verificado </span>
                      </div>
                      <img class="direct-chat-img"
                          src="https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Free-Image.png" alt="message user image">
                      <div class="direct-chat-text">
                          {{ e.comment }}
                      </div>
                    </div>
                    {% endif %}
                  {% endfor %}
                  {% else %}
                    <div class="direct-chat-msg text-center">
                      <p>No hay comentarios.</p>
                    </div>
                {% endif %}
            </div>
      

            </div>
            {% if user.is_authenticated %}
            <div class="card-footer">
              <form method="post" class="mt-3">
                {% csrf_token %}
                <div class="input-group">
                  <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                  <div class="input-group-append">
                    <button type="submit" name="comment" class="btn btn-primary">Enviar</button>
                  </div>
                </div>
              </form>
            </div>
            {% endif %}
          </div>
  
      
    </div>
  </div>
</section>
{% endblock %}

{% block javascript %}
  <script src="{% static 'adminLTE/plugins/select2/js/select2.full.min.js'%}"></script>
  <script>
    function adjustSelect2Width() {
      $('.select2').each(function () {
        // Establece el ancho al 100% del contenedor
        $(this).next('.select2-container').css('width', '100%');
      });
    }
  
    // Llama a la función de ajuste de tamaño cuando la ventana cambie de tamaño
    $(window).on('resize', adjustSelect2Width);
    $(function () {
      // Inicializa los elementos Select2
      $('.select2').select2();
  
      // Llama a la función de ajuste de tamaño después de la inicialización
      adjustSelect2Width();
    });
  </script>
  <script>
    $('#subjectField').on('shown.bs.modal', function () {
      $('#subjectModal').trigger('focus')
    })
    $('#courseField').on('shown.bs.modal', function () {
      $('#courseModal').trigger('focus')
    })
  </script>
{% endblock javascript %}

  