
{% extends 'components/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9">
        <img src="https://cdn-icons-png.flaticon.com/512/2354/2354280.png" alt="Imagen" class="img-fluid mx-auto d-block" style="max-width: 200px;">
        <h2 class="mb-4 text-center">{{ profesor.name }}</h2>
        <h4 class="mb-4 text-center">{{ profesor.global_evaluation }}</h4>
        <!--#############evaluacion del profesor-->
        <div class="d-flex align-items-center">
          <div class="mr-2" style="flex: 1;">
            <div class="text-center">
              <h5 class="description-header">Conocimiento</h5>
              <h2>{{ profesor.global_knowledge }}</h2>
            </div>
          </div>
          <div class="mr-2" style="flex: 1;">
            <div class="text-center">
              <h5 class="description-header">Dedicacion</h5>
              <h2>{{ profesor.global_dedication }}</h2>
            </div>
          </div>
          <div class="mr-2" style="flex: 1;">
            <div class="text-center">
              <h5 class="description-header">Puntualidad</h5>
              <h2>{{ profesor.global_punctuality }}</h2>
            </div>
          </div>
          <div class="mr-2" style="flex: 1;">
            <div class="text-center">
              <h5 class="description-header">Dificultad</h5>
              <h2>{{ profesor.global_difficult }}</h2>
            </div>
          </div>
        </div>

        <!--########post de calificacion-->
        {% if user.is_authenticated %}
        <div class="card direct-chat direct-chat-primary" style="margin-top: 30px;">
          <div class="card-header">
            <h3 class="card-title">Evalua a tu profesor</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-footer">
            <form method="post" class="d-flex align-items-center">
              {% csrf_token %}
              <div class="mr-2" style="flex: 1;">
                <div class="text-center">
                  {{ form.knowledge|as_crispy_field }}
                </div>
              </div>
              <div class="mr-2" style="flex: 1;">
                <div class="text-center">
                  {{ form.punctuality|as_crispy_field }}
                </div>
              </div>
              <div class="mr-2" style="flex: 1;">
                <div class="text-center">
                  {{ form.difficult|as_crispy_field }}
                </div>
              </div>
              <div class="mr-2" style="flex: 1;">
                <div class="text-center">
                  {{ form.dedication|as_crispy_field }}
                </div>
              </div>
              <div>
                <button type="submit" class="btn btn-info">Calificar</button>
              </div>
            </form>
          </div>
        </div>
        {% else %}
        <div class="card" style="margin-top: 30px;">
          <div class="card-body">
                <h2 class="card-title">Únete a nuestra comunidad, para participar</h2>
          </div>
        </div>
        {% endif %}
        <!--comentarios####################################################################################-->
        <div class="card direct-chat direct-chat-primary" style="margin-top: 30px;">
          <div class="card-header">
            <h3 class="card-title">Comentarios de la comunidad</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="direct-chat-messages">
              {% for e in evaluacion %}
                {% if e.user_id.id == request.user.id %}
                <!-- Tu mensaje (simulando ser tú) -->
                <div class="direct-chat-msg right">
                  <div class="direct-chat-infos clearfix">
                    <span class="direct-chat-name float-right">Yo</span>
                  </div>
                  <img class="direct-chat-img"
                      src="https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Free-Image.png" alt="message user image">
                  <div class="direct-chat-text">
                    {{ e.comment }}
                  </div>
                </div>
                {% else %}
                <div class="direct-chat-msg">
                  <div class="direct-chat-infos clearfix">
                      <span class="direct-chat-name float-left"> Estudiante verificado </span>
                  </div>
                  <img class="direct-chat-img"
                      src="https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Free-Image.png" alt="message user image">
                  <div class="direct-chat-text">
                      {{ e.comment }}
                  </div>
                </div>
                {% endif %}
              {% endfor %}
          </div>
    

          </div>
          {% if user.is_authenticated %}
          <div class="card-footer">
            <form method="post" class="mt-3">
              {% csrf_token %}
              <div class="input-group">
                {{ comment_form.comment }}
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
              </div>
            </form>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}


  