{% extends 'components/layout.html' %}
{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9">
                <h2 class="mb-4">NOMBRE PROFESOR</h2>
                <h2>9.2</h2>
                <p>
                    Food is my passion. Lorem ipsum dolor si commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                
                <select class="js-example-placeholder-single form-select mt-4 text-center" style="width: 15%;">
                    <option value="10">10</option>
                    <option value="9">9</option>
                    <option value="8">8</option>
                    <option value="7">7</option>
                    <option value="6">6</option>
                    <option value="5">5</option>
                </select>
                

                <hr class="my-4">
                <h4>Comentarios:</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" required="">Escribe tu comentario aquí</textarea>
                    </div>
                    <button class="btn btn-primary btn-success" type="submit">Enviar Comentario</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--seccion de comentarios-->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9">
                <h4>Comentarios anteriores:</h4>
                <div class="comment">
                    <p>Buen prode y asi</p>
                    <small>Por: Nombre Estudiante</small>
                </div>
                <!--comentarios-->
                <div class="comment">
                    <p>Se paso de lanza</p>
                    <small>Por: Otro Estudiante</small>
                </div>
                <!-- comentarios -->
            </div>
        </div>
    </div>
</section>
{% endblock %}