
{% extends 'components/layout.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div>
        <header>
            <h1>Community Planner</h1>
        </header>
    </div>

    <section class="bg-white text-justify mt-4">
        <h2>Descargo de Responsabilidad</h2>
        <p>Las opiniones y comentarios proporcionados por los usuarios en este sitio web son de carácter puramente informativo y reflejan las experiencias personales de los usuarios. No asumimos ninguna responsabilidad por el contenido de estas opiniones y comentarios.</p>
        <p>Es importante destacar que no estamos realizando juicios ni categorizando a los profesores o materias mencionados. La información recopilada en este sitio es de dominio público y ha sido extraída de la página de la Universidad de Guadalajara (UDG).</p>
        <p>Este sitio web se proporciona como una plataforma para que los usuarios compartan sus experiencias y opiniones de manera constructiva. No tenemos la intención de difamar o dañar la reputación de ningún individuo, profesor o materia.</p>
    </section>
</div>
{% endblock %}
