{% extends 'components/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="login-box">
        <div class="login-logo">
            <a href="{% url 'welcome' %}"><b>Community</b> Planner</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Inicia sesion con tu cuenta</p>

                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="row align-items-center justify-content-center">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary btn-block">Inicio de sesion</button>
                        </div>
                    </div>
                </form>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-12 text-center">
                        <a href="{% url 'fgtpwd'%}">Olvide mi Contraseña</a>
                    </div>
                    <div class="col-12 text-center" style="margin-top: 10px;">
                        <a href="{% url 'registro'%}" class="text-center">Registro nuevo</a>
                    </div>
                </div>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</div>
{% endblock %}